<p style="color: green"><%= notice %></p>

<%= render @loan_payment %>

<div>
  <%= link_to "Edit this loan payment", edit_loan_payment_path(@loan_payment) %> |
  <%= link_to "Back to loan payments", loan_payments_path %>

  <%= button_to "Destroy this loan payment", @loan_payment, method: :delete %>
</div>
