<div id="<%= dom_id debt_payment %>">
  <p>
    <strong>Debt:</strong>
    <%= debt_payment.debt_id %>
  </p>

  <p>
    <strong>Payment date:</strong>
    <%= debt_payment.payment_date %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= debt_payment.amount %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= debt_payment.notes %>
  </p>

  <p>
    <strong>Repaid:</strong>
    <%= debt_payment.repaid %>
  </p>

  <p>
    <strong>Repayment date:</strong>
    <%= debt_payment.repayment_date %>
  </p>

</div>
