<p style="color: green"><%= notice %></p>

<%= render @debt_payment %>

<div>
  <%= link_to "Edit this debt payment", edit_debt_payment_path(@debt_payment) %> |
  <%= link_to "Back to debt payments", debt_payments_path %>

  <%= button_to "Destroy this debt payment", @debt_payment, method: :delete %>
</div>
