<div id="<%= dom_id debt %>">
  <p>
    <strong>Debtor name:</strong>
    <%= debt.debtor_name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= debt.amount %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= debt.due_date %>
  </p>

  <p>
    <strong>Interest rate:</strong>
    <%= debt.interest_rate %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= debt.notes %>
  </p>

</div>
