<div class="justify-content-center row">
   <div class="col-xl-8 col-lg-10 col-12">
      <div class="header mt-md-5">
         <div class="header-body">
            <div class="align-items-center row">
               <div class="col">
                  <h6 class="header-pretitle">Debt Details</h6>
                  <h1 class="header-title">Debt #<%= @debt.id %></h1>
               </div>
               <div class="col-auto d-flex">
                <%= link_to "Back to Debts", debts_path, type: "button", class: "lift btn btn-white" %>
                <%= link_to "Edit", edit_debt_path(@debt), type: "button", class: "lift mx-2 btn btn-primary" %>
                <%= button_to "Delete", @debt, method: :delete, class: "lift btn btn-danger" %>
              </div>
            </div>
         </div>
      </div>

      <%= render @debt %>

   </div>
</div>
