<p style="color: green"><%= notice %></p>

<%= render @debt %>

<div>
  <%= link_to "Edit this debt", edit_debt_path(@debt) %> |
  <%= link_to "Back to debts", debts_path %>

  <%= button_to "Destroy this debt", @debt, method: :delete %>
</div>
