<div id="<%= dom_id budget %>">
  <p>
    <strong>Title:</strong>
    <%= budget.title %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= budget.amount %>
  </p>

  <p>
    <strong>Categories:</strong>
    <%= budget.categories_id_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= budget.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= budget.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= budget.end_date %>
  </p>

  <p>
    <strong>Statuses:</strong>
    <%= budget.statuses_id_id %>
  </p>

</div>
