<%= form_with(model: income, html: { class: 'mb-4' }) do |form| %>
  <% if income.errors.any? %>
    <div class="fade alert alert-light text-danger show">
      <div class="alert-heading h4">
        <%= pluralize(income.errors.count, "error") %> prohibited this income from being saved:
      </div>

      <ul>
        <% income.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<div class="row">

<div class="col-md-6 col-12">

    <div class="form-group">
        <%= form.label :title, class: "form-label" %>
        <%= form.text_field :title, class: "form-control" %>
      </div>

    </div>

    <div class="col-md-6 col-12">

      <div class="form-group">
        <%= form.label :amount, class: "form-label" %>
        <%= form.number_field :amount, class: "form-control" %>
      </div>

    </div>

    <div class="col-md-6 col-12">

      <div class="form-group">
        <%= form.label :funder_name, class: "form-label" %>
        <%= form.text_field :funder_name, class: "form-control" %>
      </div>

    </div>

    <div class="col-md-6 col-12">
      <div class="form-group">
        <%= form.label :income_source, class: "form-label" %>
        <%= form.collection_select :income_sources_id, IncomeSource.all, :id, :name, { include_blank: 'Select from the list' }, { class: "form-control", selected: @income.income_sources_id } %>
      </div>
    </div>
    
   <div class="col-md-6 col-12">
      <div class="form-group">
        <%= form.label :status, class: "form-label" %>
        <%= form.select :statuses_id, options_for_select([['- Select from the list', nil]] + Status.all.map { |status| [status.name, status.id] }, (@income.statuses_id.presence || nil)), {}, class: "form-control" %>
      </div>
    </div>
    
    <div class="col-md-6 col-12">

    <div class="form-group">
        <%= form.label :date, class: "form-label" %>
        <%= form.date_field :date, class: "form-control" %>
      </div>

    </div>

</div>
  
  <hr class="mt-5 mb-5">
  <%= form.submit class: "w-100 btn btn-primary" %>
  <%= link_to "Back to incomes", incomes_path, class: "w-100 text-muted btn btn-link" %>

<% end %>