<div id="<%= dom_id income %>">
  <p>
    <strong>Title:</strong>
    <%= income.title %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= income.amount %>
  </p>

  <p>
    <strong>Funder name:</strong>
    <%= income.funder_name %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= income.source_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= income.status_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= income.date %>
  </p>

</div>
