<div class="header">
    <div class="header-body">
      <div class="align-items-center row">
          <div class="col">
            <h6 class="header-pretitle">Overview</h6>
            <h1 class="header-title text-truncate"><%= 'Income' %></h1>
          </div>
          <div class="col-auto">

            <%= link_to "New Income", new_income_path, type: "button", class: "btn btn-primary" %>

          </div>
      </div>
    </div>
</div>

<% if notice %>
<div role="alert" class="fade alert alert-danger show">
  <%= notice %>
</div>
<% end %>

<div class="card">
    <div class="table-responsive">
      <table class="card-table table-nowrap table table-sm">
          <thead>
            <tr>
                <th>Title</th>
                <th>Amount</th>
                <th>Funder</th>
                <th>Source</th>
                <th>Date</th>
                <th>Status</th>
                <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>

          <% @incomes.each do |income| %>
            <tr>
                <td><%= income.title %></td>
                <td><%= income.amount %></td>
                <td><%= income.funder_name %></td>
                <td><%= income.income_source.name %></td>
                <td><%= income.date %></td>
                <td><span class="badge bg-success-soft"><%= income.status.name %></span></td>
                <td>
                
                  <%= link_to "Show", income %>

                </td>
            </tr>
          <% end %>

          </tbody>
      </table>
    </div>
</div>