<% if notice %>
<div role="alert" class="fade alert alert-success show">
  <%= notice %>
</div>
<% end %>

<%= render @income %>

<div>
  <%= link_to "Edit this income", edit_income_path(@income) %> |
  <%= link_to "Back to incomes", incomes_path %>

  <%= button_to "Destroy this income", @income, method: :delete %>
</div>
