<div id="<%= dom_id loan %>">
  <p>
    <strong>Lender:</strong>
    <%= loan.lender %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= loan.amount %>
  </p>

  <p>
    <strong>Interest rate:</strong>
    <%= loan.interest_rate %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= loan.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= loan.end_date %>
  </p>

</div>
