<div id="<%= dom_id goal %>">
  <p>
    <strong>Title:</strong>
    <%= goal.title %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= goal.amount %>
  </p>

  <p>
    <strong>Categories:</strong>
    <%= goal.categories_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= goal.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= goal.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= goal.end_date %>
  </p>

  <p>
    <strong>Statuses:</strong>
    <%= goal.statuses_id %>
  </p>

</div>
