<div class="header">
    <div class="header-body">
      <div class="align-items-center row">
          <div class="col">
            <h6 class="header-pretitle">Overview</h6>
            <h1 class="header-title text-truncate"><%= 'Goals' %></h1>
          </div>
          <div class="col-auto">

            <%= link_to "New Goal", new_goal_path, type: "button", class: "btn btn-primary" %>

          </div>
      </div>
    </div>
</div>

<div class="card">
    <div class="table-responsive">
      <table class="card-table table-nowrap table table-sm">
          <thead>
            <tr>
                <th>Title</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Duration</th>
                <th>Status</th>
                <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>

          <% @goals.each do |goal| %>
            <tr>
              <td><%= goal.title %></td>
              <td><%= goal.formatted_amount %></td>
              <td><%= goal.category.name %></td>
              <td><%= goal.formatted_start_date %></td>
              <td><%= goal.formatted_end_date %></td>
              <td><%= goal.duration %></td>

              <td>
                <span class="badge bg-success-soft">
                  <%= goal.status.name %>
                </span>
              </td>
              
              <td>
              
                <%= link_to "Show", goal %>

              </td>
            </tr>
          <% end %>

          </tbody>
      </table>
    </div>
</div>