<div class="card"  id="<%= dom_id expense %>">
    <div class="p-5 card-body">
      <div class="row">
          <div class="text-end col"><span class="badge bg-danger"><%= expense.status.name%></span></div>
      </div>
      <div class="row">
          <div class="text-center col">
            <h2 class="mb-2">Expense from <%= expense.budget.title %></h2>
            <p class="text-muted mb-6">Expense #<%= expense.id%></p>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6 col-12">
           <h6 class="text-uppercase text-muted">
              Title:
            </h6>
            <p class="mb-4">
              <%= expense.title %>
            </p>
            <h6 class="text-uppercase text-muted">
              Expense Date:
            </h6>
            <p class="mb-4">
              <%= expense.formatted_date %>
            </p>
          </div>

          <div class="text-md-end col-md-6 col-12">
            <h6 class="text-uppercase text-muted">
              Amount:
            </h6>
            <p class="mb-4">
              <%= expense.formatted_amount %>
            </p>
            <h6 class="text-uppercase text-muted">
              Budget
            </h6>
            <p class="mb-4">
              <%= expense.budget.title %>
            </p>
          </div>

          <div class="text-md-start col-12">
            <h6 class="text-uppercase text-muted">
              Description:
            </h6>
            <p class="mb-4">
              <%= expense.description || "N/A" %>
            </p>
          </div>

          <div class="text-md-end col-12">
            <%= link_to new_budget_expense_url(expense.budget), class: "btn-rounded-circle btn btn-primary"  do %>
              <i class="feather fe fe-plus"></i>
            <% end %>
          </div>

        </div>
      </div>
</div>