<div id="<%= dom_id expense %>">
  <p>
    <strong>Title:</strong>
    <%= expense.title %>
  </p>

  <p>
    <strong>Statuses:</strong>
    <%= expense.statuses_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= expense.amount %>
  </p>

  <p>
    <strong>Budgets:</strong>
    <%= expense.budgets_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= expense.description %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= expense.date %>
  </p>

</div>
