<div class="header">
    <div class="header-body">
      <div class="align-items-center row">
          <div class="col">
            <h6 class="header-pretitle">Overview</h6>
            <h1 class="header-title text-truncate"><%= 'Expenses' %></h1>
          </div>
          <div class="col-auto">

            <%= link_to "New Expense", new_expense_path, type: "button", class: "btn btn-primary" %>

          </div>
      </div>
    </div>
</div>

<div class="card">
    <div class="table-responsive">
      <table class="card-table table-nowrap table table-sm">
          <thead>
            <tr>
                <th>Title</th>
                <th>Budget</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Status</th>
                <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>

          <% @expenses.each do |expense| %>
            <tr>
                <td><%= expense.title %></td>
                <td><%= expense.budget.title %></td>
                <td><%= expense.formatted_amount %></td>
                <td><%= expense.formatted_date %></td>
                <td><span class="badge bg-success-soft"><%= expense.status.name %></span></td>
                <td>
                
                  <%= link_to "Show", expense_url(expense) %>

                </td>
            </tr>
          <% end %>

          </tbody>
      </table>
    </div>
</div>