<%= form_with(model: goal_progress, url: goal_goal_progresses_path(goal)) do |form| %>

    <% if goal_progress.errors.any? %>
    <div class="fade alert alert-light text-danger show">
      <div class="alert-heading h4">
        <%= pluralize(goal_progress.errors.count, "error") %> prohibited this goal progess from being saved:
      </div>

      <ul>
        <% goal_progress.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">

  <div>

    <%= form.hidden_field :goal_id, value: @goal.id %>
  
  </div>

  <div class="col-6">

    <div class="form-group">
      <%= form.label :amount_saved, class: "form-label" %>
      <%= form.number_field :amount_saved, class: "form-control" %>
    </div>

  </div>

    <div class="col-md-6 col-12">

      <div class="form-group">
        <%= form.label :completion_percentage, class: "form-label" %>
        <%= form.text_field :completion_percentage, class: "form-control" %>
      </div>

    </div>

    <div class="col-md-4 col-12">
      <div class="form-group">
        <%= form.label :status, class: "form-label" %>
        <%= form.select :status_id, options_for_select([['- Select from the list', nil]] + Status.all.map { |status| [status.name, status.id] }, (@goal_progress.status_id.presence || nil)), {}, class: "form-control" %>
      </div>
    </div>

    <div class="col-6">

      <div class="form-group">
        <%= form.label :date, class: "form-label" %>
        <%= form.date_field :date, class: "form-control" %>
      </div>

    </div>
</div>

  <hr class="mt-5 mb-5">
  <%= form.submit class: "w-100 btn btn-primary" %>
  <%= link_to "Back to goals", goals_path, class: "w-100 text-muted btn btn-link" %>

<% end %>
