<div id="<%= dom_id goal_progress %>">
  <p>
    <strong>Goals:</strong>
    <%= goal_progress.goals_id %>
  </p>

  <p>
    <strong>Amount saved:</strong>
    <%= goal_progress.amount_saved %>
  </p>

  <p>
    <strong>Completion percentage:</strong>
    <%= goal_progress.completion_percentage %>
  </p>

  <p>
    <strong>Statuses:</strong>
    <%= goal_progress.statuses_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= goal_progress.date %>
  </p>

</div>
