<nav class="navbar-vertical fixed-start navbar navbar-expand-md navbar-light">
   <div class="container-fluid">
      <button type="button" aria-label="Toggle navigation" class="navbar-toggler collapsed">
	  	   <span class="navbar-toggler-icon"></span>
	   </button>

      <a class="navbar-brand" href="/">
         <%= image_tag asset_path('logo.svg'), class: "navbar-brand-img", alt: "..." %>
      </a>

      <div class="d-md-none dropdown">
         <div class="avatar avatar-sm avatar-online dropdown-toggle" id="react-aria-1" aria-expanded="false" role="button">
            <%= image_tag asset_path('avatars/placeholder.jpg'), class: "avatar-img rounded-circle", alt: "..." %>
         </div>
      </div>

      <div class="navbar-collapse collapse">
         <div>
            <div class="navbar-nav">
               <div class="nav-item">

                  <%= link_to dashboard_path, class: "nav-link active" do %>
                     <i class="feather fe fe-home"></i>
                     Dashboard
                  <% end %>
                  
               </div>
               <div class="nav-item">

                  <%= link_to dashboard_path, class: "nav-link" do %>
                     <i class="feather fe fe-money"></i>
                     Income
                  <% end %>
                  
               </div>
               <div class="nav-item">

                  <%= link_to dashboard_path, class: "nav-link" do %>
                     <i class="feather fe fe-cutlery"></i>
                     Expenses
                  <% end %>
                  
               </div>

               <hr class="navbar-divider">
               
               <div class="nav-item">

                  <%= link_to dashboard_path, class: "nav-link" do %>
                     <i class="feather fe fe-wallet"></i>
                     Budget
                  <% end %>
                  
               </div>
               <div class="nav-item">

                  <%= link_to dashboard_path, class: "nav-link" do %>
                     <i class="feather fe fe-timeline"></i>
                     Goals
                  <% end %>
                  
               </div>
            </div>
         </div>
         
         <div class="mt-auto mb-md-4"></div>
         <div class="navbar-user d-none d-md-flex">
            <a class="navbar-user-link" role="button">
               <div class="icon">
                  <i class="feather fe fe-bell"></i>
               </div>
            </a>
            
            <div class="dropup dropup-center">
               <div class="avatar avatar-sm avatar-online dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" role="button">
                  <%= image_tag asset_path('avatars/placeholder.jpg'), class: "avatar-img rounded-circle", alt: "..." %>
			      </div>

               <div class="dropdown-menu">
                  <a class="dropdown-item" href="javascript:void(0)">Profile</a>
                  <a class="dropdown-item" href="/account-general">Settings</a>
                  <hr class="dropdown-divider" role="separator">
                  <a class="dropdown-item" href="/sign-in">Logout</a>
               </div>

            </div>

            <a class="navbar-user-link" role="button">
               <div class="icon">                 
                  <i class="feather fe fe-search"></i>
               </div>
            </a>
         </div>
      </div>
   </div>
</nav>
