<!DOCTYPE html>
<html>
  <head>
    <title><%= "Zonse Wallet" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %> 

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>

    <%= javascript_importmap_tags %> 


  </head>

  <body>
  
    <%= render 'layouts/sidebar' %>

    <div class="main-content">

      <% flash.each do |name, msg| %>

        <div class="alert alert-success rounded-0 alert-dismissible" role="alert">
          <%= msg %>
        </div>
      
      <% end %>

      <% unless current_page?(dashboard_path) %>

        <div class="container-fluid">
          <div class="justify-content-center row">
            <div class="col-12">
              
              <%= yield %>

            </div>
          </div>
        </div>

      <% else %>
        
        <%= yield %>

      <% end %>
        
    </div>

  </body>
</html>
